* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

.header {
  width: 100%;
  height: calc(100vh / 3);
  background-color: #9b59b6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  height: calc(100vh / 3);
  display: flex;
}
.left, .center, .right {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  background-color: #2ecc71;
}
.center {
  background-color: #e67e22;
}
.right {
  background-color: #f39c12;
}

.footer {
  width: 100%;
  height: calc(100vh / 3);
  background-color: #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
}