* {
    font-family: "Roboto", sans-serif;
}

.breadcrumb-item a{
    text-decoration: none;
    color: #2C2C2C;
}
.breadcrumb-item.active {
    color: #777;
}
.page-link {
    color: black;
}
.active .page-link {
    color: white;
    background-color: black;
}